OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
AUTOLOGIC_DATA_DIR=data/pkl
AUTOLOGIC_CSV_DATA_DIR=data/csv_data
AUTOLOGIC_REGRESSION_DATA_DIR=data/csv_data
AUTOLOGIC_OUTPUT_DIR=outputs
AUTOLOGIC_LOCAL_LLM_PATH=

